cython

pandas>=1.2.5
numpy>=1.20.0
scipy<1.8.0
scikit-learn>=1.0.0

matplotlib>=3.4.3

datapane==0.12.0
plotly>=5.2.1

pyarrow<6.0.0

boto3
fsspec
pybind11
s3fs
s3path

popmon==0.6.0
phik==0.12.0
varclushi==0.1.0
soupsieve==2.3.1

findspark<2.0.0
pytest
