#Following are the list of required dependencies to run ANOVOS
#Refer READMe file for required python, spark and Java versions
pandas==1.1.5
scipy
scikit-learn
boto3
pyarrow==3.0.0
s3path
pybind11
popmon
varclushi
pytest
datapane==0.12.0
numpy==1.18.1
plotly==5.2.1