name: Full Demo
on:
  pull_request:
    types: [opened, ready_for_review]
  push:
    branches:
      - main


jobs:
  run-demo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: '3.7'

      - uses: actions/setup-java@v2.5.0
        with:
          java-version: '8'

      - uses: vemonet/setup-spark@v1
        with:
          spark-version: '2.4.8'
          hadoop-version: '2.7'

      - name: Checkout code
        uses: actions/checkout@master

      - name: Ensure clean environment
        run: |
          make clean build

      - name: Install Python requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run the demo
        run: |
          cp config/configs_full.yaml dist/configs.yaml
          cd dist/
          ./spark-submit.sh
