name: Full Demo
on:
  pull_request:
    types: [opened, ready_for_review]
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.github/**'


jobs:
  run-demo:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        include:
          - python: '3.7'
            spark: '2.4.8'
            hadoop: '2.7'
            java: '8'
            experimental: false
          - python: '3.9'
            spark: '3.1.2'
            hadoop: '3.2'
            java: '11'
            experimental: true
          - python: '3.9'
            spark: '3.2.0'
            hadoop: '3.2'
            java: '11'
            experimental: true
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - uses: actions/setup-java@v2.5.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - uses: vemonet/setup-spark@v1
        with:
          spark-version: ${{ matrix.spark }}
          hadoop-version: ${{ matrix.hadoop }}

      - name: Checkout code
        uses: actions/checkout@master

      - name: Ensure clean environment
        run: |
          make clean build

      - name: Install Python requirements
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run the demo
        run: |
          cp config/configs_full.yaml dist/configs.yaml
          cd dist/
          ./spark-submit.sh
