name: Unit Test

on:
  push:
    paths:
      - 'requirements.txt'
      - 'src/**'
      - '!**.md'
      - '!.github/**'

jobs:
  test:
    runs-on: ubuntu-latest
    continue-on-error: ${{ matrix.experimental }}
    strategy:
      fail-fast: false
      max-parallel: 4
      matrix:
        python: [ '3.9' ]
        spark: [ '3.1.2', '3.2.0' ]
        hadoop: [ '3.2' ]
        java: [ '8', '11' ]
        experimental: [ true ]
        include:
          - python: '3.7'
            spark: '2.4.8'
            hadoop: '2.7'
            java: '8'
            experimental: false
    steps:
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}

      - uses: actions/setup-java@v2.5.0
        with:
          distribution: 'zulu'
          java-version: ${{ matrix.java }}

      - uses: vemonet/setup-spark@v1
        with:
          spark-version: ${{ matrix.spark }}
          hadoop-version: ${{ matrix.hadoop }}

      - name: Checkout code
        uses: actions/checkout@master

      - name: Install Python requirements
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov wheel
          pip install -r requirements.txt

      - name: Check SPARK_HOME
        run: |
          echo $SPARK_HOME
          ls $SPARK_HOME

      - name: Run the unit tests
        run: |
          pytest -v --cov=src/main/anovos src/test/
